.images {
    max-width: 31%;
    padding: 1%;
}

img {
    cursor: pointer;
}

.popup-content {
    display: flex;
    top: 250px;
    left: 0;
    width: 800px !important;
    height: 640px !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    top: 50px !important;
}

.popup-arrow {
    display: none;
}

div .popup-content .images {
    max-width: 80vw !important;
    height: 70vh;
    border: 2px solid #888888;
    padding: 0;
}